# Ask Zahi Rahman for the actual database password.

# Copy this file, rename it to just .env, and replace [PASSWORD]

DB_URI=postgresql://postgres.szxxgctmtoyetoydoqzq:[PASSWORD]@aws-1-us-west-2.pooler.supabase.com:6543/postgres
